{% extends "BotellaBundle::layout.html.twig" %}


{% block title %}
Galerie - {{ parent() }}
{% endblock %}

{% block body %}
<section class="cadre row expanded expo">
    <h1>Expositions</h1>
    <aside class="col-xs-4">
        <h3>Évènements</h3>
        {% for article in listArticles %}
            {% if article.categories  %}
                {% for category in article.categories %}
                    {% if category.name == "Expositions" %}
                    <a href="{{ path('blog_view', { id: article.id}) }}" class="single-post-link">
                        <div class="single-post">
                            <h4>{{ article.title }}</h4>
                            <h5>{{ article.content }}</h5>
                        </div>
                    </a>
                    <ul class="pagination">
                        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                        {% for p in range(1, nbPages) %}
                            <li{% if p == page %} class="active"{% endif %}>
                                <a href="{{ path('botella_expositions', {'page': p}) }}">{{ p }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

    </aside>
<article class="archives col-xs-8">
    <h3>Récompenses</h3>
    <div class="block">
        <div class="col-xs-12">
            <input type="checkbox" name="item" id="item-one" hidden />
            <label for="item-one">2015</label>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">Salon d’automne d’Albi – Invité d’honneur</li>
                    <li class="list-group-item">Salon du Pastel Grand Sud – Villepinte ( Aude )</li>
                    <li class="list-group-item">Honorable mention concours Pastel100 – PastelJournal</li>
                    <li class="list-group-item">Prix APF – Salon du Pastel de Giverny</li>
                    <li class="list-group-item">Prix Outstanding Pastel “BolBrush Painting Competition”</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <input type="checkbox" name="item" id="item-two" hidden />
            <label for="item-two">2014</label>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">Galerie municipale – Salle Paul Descazeaux, Castelsarrasin</li>
                    <li class="list-group-item">Salon des artistes français – Grand palais, Paris</li>
                    <li class="list-group-item">Honorable mention concours Pastel100 – PastelJournal</li>
                    <li class="list-group-item">Salon d’automne de Semalens – Invité d’honneur</li>
                    <li class="list-group-item">Prix de la technique à Ballaruc les bains</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <input type="checkbox" name="item" id="item-three" hidden />
            <label for="item-three">2013</label>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">Salon de peinture et sculpture – Invité d’honneur</li>
                    <li class="list-group-item">Prix de la technique Fougères</li>
                    <li class="list-group-item">Prix Outstanding Pastel “BolBrush Painting Competition”</li>
                    <li class="list-group-item">2ème prix “peinture figurative” Artoulouse</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <input type="checkbox" name="item" id="item-four" hidden />
            <label for="item-four">2012</label>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item">Salon internationnal Greenhouse Gallery, Texas</li>
                    <li class="list-group-item">Prix Académique “Arts et Lettres de France” de Toulouse</li>
                    <li class="list-group-item">Prix des Amis des Arts à Albi</li>
                    <li class="list-group-item">Prix Spécial du Jury à Soual</li>
                    <li class="list-group-item">Prix “Art et Cadres” à Colomiers</li>
                    <li class="list-group-item">Prix de la ville à Sorèze</li>
                    <li class="list-group-item">Finaliste “figurative category” Art Renewal Center</li>
                    <li class="list-group-item">Prix du public à Florentin</li>
                    <li class="list-group-item">Prix “Pastel Society of America” à Giverny 2012</li>
                    <li class="list-group-item">1er prix de peinture à Florentin</li>
                    <li class="list-group-item">Prix du public à Aussonne</li>
                    <li class="list-group-item">1er prix du salon à Fonsorbes</li>
                    <li class="list-group-item">Prix du public à Leguevin</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12">
            <input type="checkbox" name="item" id="item-five" hidden />
            <label for="item-five">2011</label>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item">nvité d’honneur au salon des artiste midi-pyrénées à Tournefeuille</li>
                    <li class="list-group-item">1er prix de peinture à Tournefeuille</li>
                    <li class="list-group-item">1er prix du jury techniques sèches à Soual</li>
                    <li class="list-group-item">Prix du public à Colomiers</li>
                    <li class="list-group-item">Prix du public à Semalens</li>
                    <li class="list-group-item">Prix du Président à Sorèze</li>
                    <li class="list-group-item">Finaliste Art Renewal Center “figurative category”</li>
                    <li class="list-group-item">2ème prix du Public à “Le Fousseret”</li>
                    <li class="list-group-item">1er Prix catégorie contemporain – Perez Fine Art Galleries</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12">
            <input type="checkbox" name="item" id="item-six" hidden />
            <label for="item-six">2010</label>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item">Invité d’honneur au salon de peinture de Muret 2010</li>
                    <li class="list-group-item">Prix de peinture à l’ESC Toulouse au concours “Arts et lettres de France”</li>
                    <li class="list-group-item">Prix du public à Soual 2010</li>
                    <li class="list-group-item">Médaille d’argent catégorie “huile” à Soual</li>
                    <li class="list-group-item">1er Prix de peinture de la ville “Le Fousseret”</li>
                    <li class="list-group-item">Prix du public à Aussonne Mai 2010</li>
                    <li class="list-group-item">1er prix du concours « nos lecteurs ont du talent » du magazine « Pratique des Arts »</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12">
            <input type="checkbox" name="item" id="item-seven" hidden />
            <label for="item-seven">2007 - 1991</label>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item">Exposition à la galerie Vermayer à Toulouse</li>
                    <li class="list-group-item">exposition à La galerie Murestyl à Toulouse</li>
                    <li class="list-group-item">1er prix de pastel à Fonsorbes</li>
                    <li class="list-group-item">1er prix de dessin à Escalquens</li>
                    <li class="list-group-item">2ème prix de pastel à St-Jean</li>
                    <li class="list-group-item">1er prix de la ville de Toulouse à Balma</li>
                    <li class="list-group-item">Prix de dessin à St-Jean</li>
                    <li class="list-group-item">Prix de dessin à Grenade</li>
                    <li class="list-group-item">Prix de dessin à Escalquens</li>
                    <li class="list-group-item">Diplome d’honneur à St-Jean</li>
                    <li class="list-group-item">1er prix de dessin à L’Union</li>
                    <li class="list-group-item">2ème prix des jeunes talents à Balma</li>
                    <li class="list-group-item">2ème prix des jeunes talents à Arcachon</li>
                </ul>
            </div>
        </div>
    </div>

</article>
</section>
<a href="#section1" class="top bottom">
    <button type="button" name="bottom">
        <div class="content-button">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            <p>Top</p>
        </div>
    </button>
</a>
</div>

{% include 'BotellaBundle:blog:footer-page.html.twig' %}
{% endblock %}
