<footer id="section5-gallery" class="under container footer-gallery">
    <div class="wrapper-footer">
        <div class=" col-xs-12 social">
            <a href="https://www.facebook.com/laurentbotellaartist/">
                <img src="{{ asset('uploads/img/facebook.jpg') }}" alt="">
            </a>
            <a href="https://instagram.com/laurentbotella/">
                <img src="{{ asset('uploads/img/instagram.jpg') }}" alt="">
            </a>
            <a href="https://twitter.com/laurentbotella">
                <img src="{{ asset('uploads/img/twiter.jpg') }}" alt="">
            </a>
            <a href="https://www.youtube.com/channel/UCPhwMWvem3Ef9wXD2MX54Nw" class="social icon youtube">
                <img src="{{ asset('uploads/img/youtube.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-xs-12">
            <ul class="sub-menu">
                <li>
                    <a href="{{ path('botella_bio') }}">Biographie</a>
                </li>
                <li>
                    <a href="{{ path('botella_gallery') }}">Galerie</a>
                </li>
                <li>
                    <a href="{{ path('botella_videos') }}">Vidéos</a>
                </li>
                <li>
                    <a href="{{ path('botella_expositions') }}">Expositions</a>
                </li>
                <li>
                    <a href="{{ path('botella_contact') }}">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 credit">
            <p>Crédit : <a href="https://www.linkedin.com/in/laurent-botella-9ba310125/" target="new">Laurent Botella</a> | Copyright © 2017 | <a href="{{ path('botella_legal') }}">Mentions légales</a></p>
            <span>
                <p>Ressources : <a href="http://PixelBuddha.net" target="new">PixelBuddha.net</a></p>
            </span>
        </div>
    </div>
</footer>
