
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Laurent Botella{% endblock %}</title>

    {% block stylesheets %}
    <!-- Bootstrap -->

    <!-- style application -->
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />
    {% endblock %}

    <!-- fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600,600i,700,800" rel="stylesheet">

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Compressed JavaScript -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script  src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Style backend -->
    <link rel="stylesheet" href="{{ asset('css/backend.css') }}">

</head>
<body class="back-end">
    <div class="back-wrapper">
        <nav class="back-nav col-md-3">
            <ul class="c-menu__items">
                <li class="c-menu__item">
                    <h3 class="title">Articles</h3>
                    <ul class="c-menu_items">
                        <li class="c-menu_item"><a href="{{ path('article_list')}}" class="subitem">Liste des articles</a></li>
                        <li class="c-menu_item"><a href="{{ path('blog_add') }}" class="subitem">Ajouter un article</a></li>
                    </ul>
                </li>
                <li class="c-menu_item">
                    <h3 class="title">Oeuvres</h3>
                    <ul class="c-menu_items">
                        <li class="c-menu_item"><a href="{{ path('painting_list') }}" class="subitem">Liste des oeuvres</a></li>
                        <li class="c-menu_item"><a href="{{ path('painting_add') }}" class="subitem">Ajouter une oeuvre</a></li>
                        <li class="c-menu_item"><a href="{{ path('serie_list') }}" class="subitem">Liste des series</a></li>
                        <li class="c-menu_item"><a href="{{ path('serie_add') }}" class="subitem">Ajouter une serie</a></li>
                    </ul>
                </li>
                <li class="c-menu_item">
                    <h3 class="title">Vidéos</h3>
                    <ul class="c-menu_items">
                        <li class="c-menu_item"><a href="{{ path('list_movies') }}" class="subitem">Liste des vidéos</a></li>
                        <li class="c-menu_item"><a href="{{ path('movie_add') }}" class="subitem">Ajouter une vidéo</a></li>                    </ul>
                </li>
                <li class="c-menu_item">
                    <h3 class="title">Administration</h3>
                    <ul class="c-menu_items">
                        <li class="c-menu_item"><a href="" class="subitem">Voir mon profil</a></li>
                        <li class="c-menu_item"><a href="{{ path('fos_user_change_password') }}" class="subitem">Modifier mon mot de passe</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section id="" class="back-content col-md-9">
            <header class="header-back">
                <div id="logo" class="col-md-4">
                    <a href="{{ path('botella_homepage') }}">
                        <img src="{{asset('uploads/img/signature.png')}}" alt="logo">
                    </a>
                </div>
                <div class="col-md-8">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        Connecté en tant que {{ app.user.username }} <br>
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Connexion</a>
                    {% endif %}
                </div>
            </header>
            <div class="o-content container">
                <article class="">
                    {% block body %}
                        <!--contenu principal-->
                    {% endblock %}
                </article>
            </div>
        </section>

    </div>


    {% block javascripts %}
        <script src="{{ asset('bundles/js/jquery.js')}}"></script>
        <script src="{{ asset('bundles/js/foundation.min.js') }}"></script>
        <script src="{{ asset('bundles/js/vendor/motion-ui.js') }}"></script>
        <script src="{{ asset('bundles/js/vendor/what-input.js') }}"></script>
        <script src="{{ asset('bundles/js/vendor/foundation.js') }}"></script>
        <script src="{{ asset('bundles/js/app.js') }}"></script>

        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}


</body>
</html>
